<!--<form class="form-horizontal" , id = "new_issue_create_form"> -->
<br>
<div>
	<%= form_for(@sea_port, url: update_sea_port_path ,html: {method: "post"}) do |f| %>

		<div class="col-sm-12">
			<div class="col-sm-12">
				<label class="" for="input01">Starting Port Name</label>  
			
				<div class="s">  
                   <%= f.text_field :starting_port_name, autofocus: true, class: "form-control", placeholder: "Vessel Name", style: "margin-bottom:10px" %>
				</div> 
			
			</div>
		</div>
		<div class="col-sm-12" style="margin-top: 10px;"> 
			<div class="col-sm-12">
				<label class="" for="input01">Destination Port Name</label>  
				<div class="s">  
                   <%= f.text_field :reached_port_name, autofocus: true, class: "form-control", placeholder: "Vessel Name", style: "margin-bottom:10px" %>
				</div> 
			</div>
		</div>

		<div class="col-sm-12" style="margin-top: 10px;"> 
			<div class="col-sm-12">
				<label class="" for="input01">Description</label>  
				<div class="s">  
                   <%= f.text_field :description, autofocus: true, class: "form-control", placeholder: "Vessel Name", style: "margin-bottom:10px" %>
				</div> 
			</div>
		</div>

		<div class="col-sm-12 create_cut_field">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary" , id ="create_issue" style="margin-top: 23px;" >Create</button>
				<!--<button class="btn create_new_issue" , style="margin-top: 23px;">Cancel</button> -->
			</div>
		</div>
	
	<%end%>
</div>