<br>
<%= form_for(@sea_report) do |f| %>

    <!-- date-->
	<div class="col-sm-12">
		<div class="col-sm-12">
			<label class="" for="input01">Select Date for Opening new Report</label>  
			<div class="s">
	          <input type="text" class="startDate form-control" name="date" id="dateStartReport" style = "margin-bottom:10px" required %>
			</div> 
		</div>
	</div>

    <div class="col-sm-12">
		<div class="col-sm-12">
			<label class="" for="input01">Select Time in hh-mm-ss format</label>  
			<div class="s">
	          <input type="number" name="hours" required placeholder="hours" min="0" max="23" class="form-control time-width"  %>
	          
	          <input type="number" name="minutes" required placeholder="minutes"  class="form-control time-width" min="0" max="59" %>

			  <input type="number" name="seconds" required placeholder="seconds"  class="form-control time-width" min="0" max="59" %>
	
	          
			</div> 
		</div>
	</div>

    <!-- Zone time--> 
	<div class="col-sm-12" style="margin-top: 10px;"> 
		<div class="col-sm-6">
			<label class="" for="input01">Select Zone time</label>  
			<div class="s">  
	          <!--  <%= f.time_zone_select :zone_time, nil, class: "form-control", required: true, placeholder: "Zonetime", style: "margin-bottom:10px" %> -->

		       <%= f.select :zone_time, options_for_select(["-1100", "-1000","-0900", "-0800", "-0700","-0600","-0500", "-0430", "-0400", "-0330", "-0300", "-0200", "-0100", "+0000", "+0100", "+0200", "+0300", "+0330","+0400", "+0430","+0500", "+0530","+0545","+0600","+0630","+0700","+0800","+0900", "+0930","+1000","+1100", "+1200", "+1245","+1300"]), class: "form-control", required: true, width: "100%",  placeholder: "Zonetime", style: "margin-bottom:10px" %>
			</div> 
		</div>
	</div>

	<div class="col-sm-12 create_cut_field">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary" style="margin-top: 23px;" > Create new Report </button>
		</div>
	</div>

<%end%>

<%= link_to 'Back', sea_reports_path %>
