<%= form_for create_ship_particular_path, method: :post do |f| %>

	<div class="control-group">

		<div class="col-sm-12">
			<div class="col-sm-12">
				<label class="" for="input01">Vessel Name</label>  

				<div class="s">  
                   <%= f.text_field :vessel_name, autofocus: true, class: "form-control", placeholder: "Vessel Name", style: "margin-bottom:10px" %>
				</div> 
			</div>
		</div>	
		<div class="col-sm-12" style="margin-top: 10px;"> 
			<div class="col-sm-12">
				<label class="" for="input01">Vessel IMO Number</label>  
				<div class="s">  
					<input type="text" class="" id="imo_no" name="imo_no" required style="width: 65%;">
				</div> 
			</div>
		</div>

		<div class="col-sm-12" style="margin-top: 10px;"> 
			<div class="col-sm-6">
				<label class="" for="input01">Captain Name</label>  
				<div class="s">  
					<input type="text" class="" id="captain" name="captain" required style="width: 65%;">
				</div> 
			</div>

			<div class="col-sm-6">
				<label class="" for="input01">Chief Engineer Name</label>  
				<div class="s">  
					<input type="text" class="" id="chief" name="chief" required style="width: 65%;">
				</div> 
			</div>

		</div>

		<div class="col-sm-12 create_cut_field">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary" , id ="create_issue" style="margin-top: 23px;" >Create</button>
				<!--<button class="btn create_new_issue" , style="margin-top: 23px;">Cancel</button> -->
			</div>
		</div>
	</div>  
<%end %>