<%= form_for(@sea_report, url: create_ship_particular_path ,html: {method: "post"}) do |f| %>


	<div class="control-group">

		<div class="col-sm-12">
			<div class="col-sm-12">
				<label class="" for="input01">Report Count</label>  

				<div class="s">  
                   <%= f.text_field :report_count, autofocus: true, class: "form-control", placeholder: "Vessel Name", style: "margin-bottom:10px" %>
				</div> 
			</div>
		</div>	

		<div class="col-sm-12 create_cut_field">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-primary" , id ="create_issue" style="margin-top: 23px;" >Create</button>
				<!--<button class="btn create_new_issue" , style="margin-top: 23px;">Cancel</button> -->
			</div>
		</div>
	</div>  
<%end %>