<div class="alert alert-success" id ="flash_create_message"></div>
<div class="alert alert-danger" id ="flash_error_message"></div>
<fieldset class="fieldset bg-change">

<div class="col-md-offset-1 container">

    <!-- Menu bar-->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#date_and_time">Date and time</a></li>
    </ul>
    <br>
    <br>

    <!-- Tab content -->
    <div class="tab-content fieldset col-md-10 bg-change1">

        <!-- First Section -->

      <div id="date_and_time" class="tab-pane fade in active">
        <b><h3>Create New Sea Report</h3></b>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <%= render 'new' %>
          </div>
        </div>

      </div>

</div>
</fieldset>