<style type="text/css">
.dataTables_filter {
    margin-right: 10px;
}
.dataTables_length{
  margin-left: 15px;
}

.dataTables_wrapper{
  margin-top: 10px;
}
</style>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Cuts</div>
    <table  class="table  no-margin" id="table-issues-report" cellspacing="0" width="100%" style="margin-top: 10px;">
      <thead>
        <tr style="background-color: #F1EEEE;">

          <th>Vessel Name</th>
          <th> Starting Port </th>
          <th> Destination Port </th>
          <th> Report Number</th>
          <th>Starting Date</th>
          <th>Closing Date</th>
          <th>Status</th>
        </tr>

      </thead>
      <tbody>
      </tbody>
    </table>
  </d
