    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Categories
                    </a>
                </li>

                <% @categories.each do |category| %>
                    <li>

                        <%= link_to category.name, category_news_path(category.id) %>

                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="float: right;">Toggle Menu</a>
                <div class="row">



                    <div class="col-lg-12">
                      <h3> News for '<%= @category.name %>'</h3>

                      <% @news.each do |news| %>
                        <div class="container">

                          <div class="panel panel-default">
                            <div class="panel-body">
                              <h5> <%= news.title %> </h5>
                              <%= news.url %>
                            </div>
                          </div>
                        </div>
                      <% end %>


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>