<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- <h1 class="text-center login-title">Sign in to Death By a Thousand Cuts</h1> -->
            <div class="account-wall">
                <%# if request.host == 'trantor-dbtc.herokuapp.com'%>
                    <!-- <img class="profile-img" src="/assets/Trantor1.png" alt=""> -->
                <%#else%>
                    <!-- <img class="profile-img" src="/assets/ContinuumGlobal-logo.jpg" alt=""> -->
                <%#end%>
                <img class="profile-img" src="/assets/ship1.jpg" alt="">
                <!-- <form class="form-signin"> -->
                <%= form_tag recipes_path , :class => 'form-signin' do %>  
                <input class="form-control" placeholder="Username" required autofocus="" type="text" name = "user_name" style="margin-bottom:10px">
                <input class="form-control" placeholder="Password" required type="password" name = "password">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <!-- <a href="#" class="pull-right need-help">For help please contact Admin </a><span class="clearfix"></span> -->
                <% end %>
                <div class="col-sm-12" style="height: 42px;background-color: white;">
                    <div class="col-sm-3 col-sm-offset-9">
                        <img class="" src="/assets/ship.jpg" alt="" style="width: 100%;">
                    
                    </div>
                </div>   
            </div>
        </div>
    </div>